.creatly-ant-menu-item.active,
.creatly-nav .ant-menu-item-selected,
.creatly-nav .ant-menu-item:hover {
  background-color: #188fff14 !important;
}

.creatly-ant-menu-item.active {
  border-right: 3px solid #1890ff !important;
}

.creatly-ant-menu-item.active::after {
  border-right: none !important;
}

.creatly-ant-menu-item.active a,
.creatly-nav .ant-menu-item-selected a,
.creatly-nav .ant-menu-item:hover a {
  color: #1890ff !important;
}

.creatly-nav .ant-menu-item-selected,
.creatly-nav .ant-menu-item:hover {
  border-bottom: 3px solid #1890ff !important;
}

.creatly-nav .creatly-theme-toggle.ant-menu-item-selected {
  background-color: unset !important;
  border: unset !important;
}

.creatly-nav .creatly-theme-toggle.ant-menu-item-selected,
.creatly-nav .creatly-theme-toggle:hover,
.creatly-nav .creatly-theme-toggle:focus,
.creatly-nav .creatly-theme-toggle:active {
  background-color: unset !important;
  border: unset !important;
}

.creatly-login-form {
  margin: 0 auto;
}
.creatly-login-form-button {
  width: 100%;
}

.creatly-form-container {
  margin: 0 auto;
  max-width: 360px;
  margin-top: 20vh;
  padding: 30px;
  padding-top: 38px;
  border-radius: 10px;
}

.light .creatly-form-container {
  background-color: #f4f4f4;
}

.dark .creatly-form-container {
  background-color: #1f1f1f;
}

.creatly-logo-nav {
  width: 100px;
}
