.creatly-nav {
  height: 50px;
}

.creatly-ant-menu-item.active,
.creatly-nav .ant-menu-item-selected {
  background-color: #188fff14 !important;
}

.creatly-ant-menu-item.active {
  border-right: 3px solid #1890ff !important;
}

.creatly-ant-menu-item.active::after {
  border-right: none !important;
}

.creatly-ant-menu-item.active,
.creatly-nav .ant-menu-item-selected {
  a {
    color: #1890ff !important;
  }
}

.creatly-nav .ant-menu-item:hover {
  background-color: transparent !important;

  a {
    color: #fff;
  }
}

.creatly-nav .ant-menu-item-selected {
  background-color: unset !important;
  border: unset !important;
}

.creatly-nav .creatly-theme-toggle.ant-menu-item-selected,
.creatly-nav .creatly-theme-toggle:hover,
.creatly-nav .creatly-theme-toggle:focus,
.creatly-nav .creatly-theme-toggle:active {
  background-color: unset !important;
  border: unset !important;
}

.creatly-submenu {
  margin-left: auto;

  .ant-menu-item-selected {
    background-color: transparent !important;
  }
}

.creatly-login-form {
  margin: 0 auto;
}
.creatly-login-form-button {
  width: 100%;
}

.creatly-form-container {
  margin: 0 auto;
  max-width: 360px;
  margin-top: 20vh;
  padding: 30px;
  padding-top: 38px;
  border-radius: 10px;
}

.light .creatly-form-container {
  background-color: #f5f5f5;
}

.dark .creatly-form-container {
  background-color: #1f1f1f;
}

.creatly-logo-nav {
  width: 90px;
}
